<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preconnect"
      href="https://fonts.cdnfonts.com/css/roboto"
      crossorigin="crossorigin"
    />
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet" />
    <style>
      * {
        margin: 0;
        padding: 0;
        outline: none;
        color: #ffffff;
        user-select: none;
        font-family: 'Roboto Light', sans-serif;
      }

      ::-webkit-scrollbar {
        display: none;
      }

    </style>
    <link rel="stylesheet" href="css/cars.css" />
    <title>redage.net - Cars</title>
  </head>
  <body>
    <div id="cars">
      <div v-cloak class="cars">
        <div class="cars__wrapper">
          <div class="cars__col menu">
            <div class="cars-nav">
              <div class="cars-nav__title title">cars list:</div>
              <div class="cars-nav__find-box">
                <div class="cars-nav__search">
                  <img src="images/search.svg" alt="search" />
                  <input type="text" placeholder="Search" v-model="search" />
                </div>
                <div class="cars-nav__filter" @click="toggleFilter">
                  <img src="images/filter.svg" alt="filter" />
                  Filter
                </div>
              </div>
              <div class="cars-nav__items">
                <div
                  v-for="(car, index) in carsList"
                  :key="index"
                  class="cars-nav__item"
                  :class="{'cars-nav__item--active': isCarActive(car.name)}"
                  @click="selectCarHandler(car.name, car.id)"
                >
                  <div class="cars-nav__item--inner">{{car.param.display}}</div>
                </div>
              </div>
            </div>
            <div v-show="isFilterVisible" class="cars-filter">
              <div class="cars-fitler__close" @click="closeFilter">x</div>
              <div class="cars-filter__title title">Filter</div>
              <div class="cars-filter__items">
                <div
                  v-for="(filter, index) in filterList"
                  :key="index"
                  class="cars-filter__item"
                  :class="{'cars-filter__item--active': isFilterActive(filter)}"
                  @click="selectFilterHandler(filter)"
                >
                  <div class="cars-filter__item--inner">{{filter}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="cars__col params">
            <div v-if="isCarDetailsVisible" class="cars-params">
              <div class="cars-params__info info">
                <div class="info__head">
                  <div class="info__title title">
                    {{selectedCarDetails.param.display}}
                  </div>
                  <div class="info__volume">
                    Fuel tank volume:
                    <span class="info__volume__value"
                      >{{selectedCarDetails.param.fuel_tank_volume}} L</span
                    >
                  </div>
                </div>
                <div class="info__params">
                  <div class="info__param">
                    <div class="info__param__text">
                      Speed
                      <span class="info__param__value"
                        >{{selectedCarDetails.param.speed}}Km/h</span
                      >
                    </div>
                    <div class="info__param-progress-bar">
                      <div
                        v-for="(item, index) in getCarParamsLines('speed', selectedCarDetails.param.speed)"
                        :key="index"
                        class="info__params-progress-item"
                      ></div>
                    </div>
                  </div>
                  <div class="info__param">
                    <div class="info__param__text">
                      Acceleration
                      <span class="info__param__value"
                        >{{selectedCarDetails.param.acceleration}}</span
                      >
                    </div>
                    <div class="info__param-progress-bar">
                      <div
                        v-for="(item, index) in getCarParamsLines('acceleration', selectedCarDetails.param.acceleration)"
                        :key="index"
                        class="info__params-progress-item"
                      ></div>
                    </div>
                  </div>
                  <div class="info__param">
                    <div class="info__param__text">
                      Traction
                      <span class="info__param__value"
                        >{{selectedCarDetails.param.traction}}</span
                      >
                    </div>
                    <div class="info__param-progress-bar">
                      <div
                        v-for="(item, index) in getCarParamsLines('traction', selectedCarDetails.param.traction)"
                        :key="index"
                        class="info__params-progress-item"
                      ></div>
                    </div>
                  </div>
                  <div class="info__param">
                    <div class="info__param__text">
                      Braking
                      <span class="info__param__value"
                        >{{selectedCarDetails.param.braking}}</span
                      >
                    </div>
                    <div class="info__param-progress-bar">
                      <div
                        v-for="(item, index) in getCarParamsLines('braking', selectedCarDetails.param.braking)"
                        :key="index"
                        class="info__params-progress-item"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cars-params__extra-info">
                <div class="extra-info__params">
                  <div class="extra-info__param">
                    Trunk weight:
                    <div class="extra-info__param-value">
                      {{selectedCarDetails.param.trunk_weight}} Kg
                    </div>
                  </div>
                  <div class="extra-info__param">
                    Trunk slots:
                    <div class="extra-info__param-value">
                      {{selectedCarDetails.param.trunk_slot}}
                    </div>
                  </div>
                  <div class="extra-info__param">
                    Seats:
                    <div class="extra-info__param-value">
                      {{selectedCarDetails.param.seats}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="cars-params__colors colors">
                <div class="colors__group">
                  <div class="colors__title">Primary color</div>
                  <div class="colors__items">
                    <div
                      v-for="(item, index) in colors"
                      :key="index"
                      class="colors__item"
                      :class="{'colors__item--active': isColorActive('primary', item)}"
                      :style="{background: item.hex}"
                      @click="selectColor('primary', item)"
                    ></div>
                  </div>
                </div>
                <div class="colors__group">
                  <div class="colors__title">Secondary color</div>
                  <div class="colors__items">
                    <div
                      v-for="(item, index) in colors"
                      :key="index"
                      class="colors__item"
                      :class="{'colors__item--active': isColorActive('extra', item)}"
                      :style="{background: item.hex}"
                      @click="selectColor('extra', item)"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="cars-params__bottom">
                <div class="cars-params__price">
                  {{ formatPrice(selectedCarDetails.price) }} $
                </div>
                <button class="cars-params__buy" @click.prevent="submit">
                  Buy
                </button>
              </div>
              <a href="#" class="cars-params__test-drive" @click.prevent
                >Test drive</a
              >
            </div>
          </div>
        </div>
        <div v-show="isModalVisible" class="modal-layout">
          <div class="modal">
            <div class="modal__text">You don't have enough money!</div>
            <button class="modal__button" @click.prevent="toggleModal">
              ОК!
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/cars.js" defer></script>
  </body>
</html>
